services:
  identifier:
    ports:
      - "80:80"
  triplestore:
    ports:
      - "8890:8890"
  stats-service:
    image: stats-service:latest
    environment:
      NODE_ENV: "development"
    ports:
      - "8888:80"
    volumes:
      - /home/damon/Documents/ABB/stats-service/service:/app/
